#create-post-container {
    border: 2px solid black;
    border-radius: 0.5em;
    
    padding: 0.5em;
}

.create-post-entry {
    padding-top: 0.5em;
}

.create-post-label {
    width: 5.0em;
}

#submit-button {
    background-color: white;
    border-radius: 1.0em;
    color: black;
    width: 5.0em;
}